    <div class="content">
        <div class="footer-inicio">
            <a href="" class="link_senac">
                FOOTER
            </a>
        </div>
        <!-- <div class="footer-fim">
            <ul class="footer_list">
                <li class="footer_list_item">
                    <a href="home">
                        <mat-icon>facebook</mat-icon>
                    </a>
                </li>
                <li class="footer_list_item">
                    <a href="">
                        <mat-icon>facebook</mat-icon>
                    </a>
                </li>
                <li class="footer_list_item">
                    <a href="">
                        <mat-icon>facebook</mat-icon>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
    <div class="bottom_tabs">
        <ul class="tabs_list">
            <li class="tab_item">
                <a href="badges" class="tab_item_link">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
            </li>
            <li class="tab_item">
                <a href="badges" class="tab_item_link">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
            </li>
            <li class="tab_item">
                <a href="" class="tab_item_link">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
            </li>
            <li class="tab_item">
                <a href="" class="tab_item_link">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
            </li>
            <li class="tab_item">
                <a href="" class="tab_item_link">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
            </li>
        </ul>
    </div>