<header id="header">
    <nav class="nav">
        <div class="nav_inicio">
            <div class="button_toggle" (click)="SideNavToggle()">
                <mat-icon>dehaze</mat-icon>
            </div>
            <a class="nav_logo">
                <img src="../../../assets/img/LOGO-ACADEMICO.png" class="nav_logo_img" />
            </a>
        </div>

        <div class="nav_menu">
            <ul class="nav_list">

                <li class="nav_item">
                    <a href="" class="nav_link active-link">
                        <mat-icon>search</mat-icon>
                        <!-- <span class="nav_name"></span> -->
                    </a>
                </li>

                <li class="nav_item">
                    <a href="" class="nav_link active-link">
                        <mat-icon>settings</mat-icon>
                        <!-- <span class="nav_name"></span> -->
                    </a>
                </li>

                <li class="nav_item">
                    <a href="" class="nav_link active-link">
                        <mat-icon>language</mat-icon>
                        <!-- <span class="nav_name"></span> -->
                    </a>
                </li>

                <li class="nav_avatar">
                    <img src="../../../assets/img/perfil.jfif" alt="" class="avatar" />
                </li>
            </ul>
            <!-- <div class="nav_avatar">
                <img src="../../../assets/img/perfil.jfif" alt="" class="avatar" />
            </div> -->
        </div>
    </nav>
</header>

<!-- <a href="login">Login</a> -->